{% extends 'workouts/base.html' %}
{% load crispy_forms_tags %}
{% block landing %}
<div class="landing-main">
    <div class="container landing-text">
        <div class="landing-box">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="display-5">Create Account</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <button class="btn btn-dark" type="submit">Sign Up</button>
                </form>
                <div>
                    <small class="text-muted">Already have an account?<a class="nav-link" href="{% url 'login' %}">Sign In</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock landing %}